body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
  }
  
  header {
    background-color: #3498db;
    color: yellow;
    padding: 20px 0;
    text-align: center;
  }
  
  .header-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px 0;
  }
  
  .content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .ticket-link {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
   
  }
 .ticket-link :hover{
    opacity: 50%;

 }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }



  